
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@600&display=swap');

/* Styles for index.html*/
*{
    overflow: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: VCR OSD Mono, "VCR OSD Mono";
    user-select: none;
}

body{
    color: #00FFFF;
    background:#0C120C url("../Images/BG-Design.svg") repeat fixed center;
}

.design{
    animation: round linear 5s infinite;
}

#topAnimation{
    position: absolute;
    left: -300px;
    top: -300px;
    animation: animation1 linear 5s infinite alternate;
}

#topAnimation2{
    position: absolute;
    top: -100px;
    right: -20px;
    animation: animation2 linear 5s infinite alternate;
}

@keyframes animation2{
    from{
        right: -20px;
    }
    to{
        right: -120px;
    }
}

@keyframes animation1{
    from{
        left: -300px;
    }
    to{
        left: 20px;
    }
}

@keyframes round{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


#restart>a{
    display: block;
    padding: 10px;
    border-radius: 15px;
    border: 4px solid #00FFFF;
    color: #00FFFF;
    text-decoration: none;
}

#restart>a:hover{
    border: 4px solid #00FF29;
    color: #00FF29;
}

#container{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
    min-height: 96%;
    min-width: 98%;
    border: 10px solid rgba(0, 255, 255, 0.5);
}


#frame{
    width: 505px;
    height: 505px;
    margin-bottom: 10px;
    position: relative;
    border: 10px solid #00FFFF;
    box-sizing: border-box;
    box-shadow: 1px 0px 29px 1px #00FFFF;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#info{
    font-size: 60px;
    padding: 50px;
    text-align: justify;
    transition: all .5s;
    text-shadow: 0px -1px 38px #00FFFF;
    word-wrap: break-word;
    /* display: none; */
}

#gridbox{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 320px;
    /* display: none; */
}

#grid{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    min-width: 320px;
    min-height: 320px;
    display: grid;
    grid-template-areas:'cell0 cell1 cell2' 'cell3 cell4 cell5' 'cell6 cell7 cell8' ;
    grid-gap: 10px;
    z-index: 0;
    /* display: none; */
}

#hline{
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#vline{
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cell{
    width:  100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Signika', sans-serif;
    font-size: 72px;
    line-height: 105px;
    color: #00FFFF;
}

svg{
    padding: 10px;
}

svg path{
    pointer-events: none;
}

#cell0{ grid-area: cell0;}
#cell1{ grid-area: cell1;}
#cell2{ grid-area: cell2;}
#cell3{ grid-area: cell3;}
#cell4{ grid-area: cell4;}
#cell5{ grid-area: cell5;}
#cell6{ grid-area: cell6;}
#cell7{ grid-area: cell7;}
#cell8{ grid-area: cell8;}


.horizontal{
    background-color: #00FFFF;
    border-radius: 4px;
    width: 320px;
    height: 10px;
    box-shadow: 1px 0px 29px 1px rgba(0,255,255, .5);
    z-index: 1;
}

.vertical{
    border-radius: 4px;
    background-color: #00FFFF;
    width: 10px;
    height: 320px;
    box-shadow: 1px 0px 29px 1px rgba(0,255,255, .5);
    z-index: 1;
}

#startReset{
    font-size: 64px;
    color: #00FFFF;
    text-shadow: 0px -1px 38px #00FFFF;
    padding: 20px 40px;
    transition: all .1s;
    border-radius: 15px;
    z-index: 2;
    border: 4px solid #00FFFF;
}

body #container>#scoreboard{
    position: absolute;
    bottom: 0;
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px  60px;
    font-size: 350px;
    display: flex;
    color: rgba(0, 255, 255, 0.4);
}